__pycache__/
*.pyc
.config/
.local/
work/
dist/
build/
.env
.venv/
*.log

TESTBERICHT.md
fehler.txt
saveconfig.md
[0-9][0-9].[0-9][0-9].[0-9][0-9][0-9][0-9]/
*.zip
*_Pruefbericht*

/saveconfig_0.2.1_aenderungsauftrag.md
/sicherungzip.sh
